/* Write your CSS here */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid grey;
}
.website-logo {
  height: 30px;
}
.menu {
  height: 35px;
}
.hamburger-button {
  background-color: transparent;
  width: 42px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}
.close-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
}
.modal-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 458px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    max-width: 1110px;
  }
}
.popup-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.list-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  height: 100vh;
}
.web-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  text-decoration: none;
  margin-bottom: 32px;
}
.link-name {
  margin-left: 8px;
  font-size: 32px;
  font-weight: 500;
  font-family: roboto;
}
